@media (max-width: 960px) {
  .index-aside {
    display: none !important;
  }

  .user-action-nav {
    margin-right: 0 !important;
  }
  .timeline-entry-list{
    margin-right: 0 !important;
  }
}


.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}
