@media (max-width: 960px) {
  .index-aside {
    display: none !important;
  }

  .user-action-nav {
    margin-right: 0 !important;
  }

  .timeline-entry-list {
    margin-right: 0 !important;
  }

  .content-box {
    padding: 1.5rem 1rem !important;
  }
}

.slide-fade-enter-active {
  transition: all .3s ease;
}

.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

.clear {
  clear: both
}

//@media (max-width: 992px) {
._col-3 {
  width 33.33333333%
}

._col-4 {
  width 23.33333333%
}

._col-5 {
  width 13.33333333%
}

//}


