/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font-weight: normal
  vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section
  display: block

body
  line-height: 1

blockquote, q
  quotes: none

blockquote:before, blockquote:after,
q:before, q:after
  content: none

table
  border-collapse: collapse
  border-spacing: 0

/* custom */

a
  color: #7e8c8d
  -webkit-backface-visibility: hidden
  text-decoration: none

li
  list-style: none

body
  -webkit-text-size-adjust: none
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  background-color: #f4f5f5

div, header, input, section, ul
  box-sizing: border-box

#app, body, html
  letter-spacing: 1px
  height: 100%
  font-size: 12px

div, header, input, section, ul
  box-sizing: border-box

input, textarea, select, button
  text-rendering: auto

article, aside, footer, header, hgroup, main, nav, section
  display: block

#__nuxt
  height: 100%

#__nuxt > div
  height: 100%

.iconfont
  font-size: 16px
  font-style: normal

button
  height: 35px
  line-height: 35px
  padding: 0 30px
  background-color: #fff
  outline: none
  border: none
  border-radius: 4px
  cursor: pointer
  transition: all .3s

.material-icons
  cursor: pointer

$switch-background = 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAeUlEQVRIS+2UwQ2AIBRDHxu4iY6gm+lkOoIj6AaOwM1o8lEaErh8jqS06UtDoMIJFTLwEImyhWsEVsnlLZ6A7XllhXTAUBCyA9dfSIG//dTXJSFthkud8ALMX9WaNZF454i9SQ6lW5P6u3rB5QQOdV0+4SQxn7AwPoiRdQoaQM/fOQAAAABJRU5ErkJggg=='


.container:after
  display: table
  content: ""
  clear: both

.container
  position: relative
  margin: 0 auto
  width: 100%
  max-width: 960px

.view-nav
  .nav-list
    height: 100%
    display: flex
    -webkit-box-align: center
    align-items: center

.view-nav
  .nav-list
    .nav-item
      height: 100%
      display: flex
      -webkit-box-align: center
      align-items: center

.user-action-nav
  display: flex
  -webkit-box-align: center
  align-items: center
  .nav-list
    display: flex
    -webkit-box-align: center
    align-items: center

.view-nav .nav-list
  max-width: 960px
  margin: auto
  line-height: 1

.list-header .list-nav, .list-header .nav-list
  display: -webkit-flex
  display: flex
  -webkit-box-align: center
  align-items: center
  justify-content: space-between

.lazy
  position: relative
  overflow: hidden

.avatar
  display: inline-block
  background-position: 50%
  background-repeat: no-repeat
  background-color: #eee
  background-size: 100%

ol ul, ul ol, ul ul, ol ol
  -webkit-margin-before: 0px
  -webkit-margin-after: 0px

//ul, menu, dir
//  display: block
//  -webkit-margin-before: 1em
//  -webkit-margin-after: 1em
//  -webkit-margin-start: 1em
//  -webkit-margin-end: 1em
//  -webkit-padding-start: 40px

.content-box, .info-box
  display: flex


.info-box
  -webkit-box-flex: 1
  flex: 1 1 auto
  -webkit-box-orient: vertical
  -webkit-box-direction: normal
  flex-direction: column
  -webkit-box-pack: center
  justify-content: center
  min-width: 0
  //
//.app-logo
//  font-size 20px
//  color: blue
//  background: url($logo-background) 100% 100%



















